.toggle-one {
    width: 40%;
    height: 300px;
    float: left;
    margin: 0px 20px;
    line-height: 300px;
    text-align: center;
    color: orange;
    font-size: 30px;
    background-color: steelblue;
}
